/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.jumbotron{background-color: #2c3e50; color:white;}
#footer a {color:white;}
#footer {
  height: 125px;
  margin-top:60px;
  color:white;
  background-color: #2c3e50;
}

/* Set the fixed height of the footer here */
.jumbotron{background-color: #2c3e50; color:white;}
#header a {color:white;}
#header {
  height: 125px;
  color:white;
  background-color: #2c3e50;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 700px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
.info{background-color: #f5f5f5;margin-top:30px;padding:10px;}
.multilink{background-color: #f5f5f5;margin-top:30px;padding:10px;}
.singlelink{background-color: #f5f5f5;margin-top:30px;padding:10px;}
.tgfa {
  display: inline-block;
  padding:3px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tgfa-blue:before {
  content: url('../img/tgfa.png');
}
.tgfa-dark:before {
  content: url('../img/tgfa-dark.png');
}
.tgfa-white:before {
  content: url('../img/tgfa-white.png');
}